@charset "UTF-8";

html, body {
height: 100%;
background-image: linear-gradient(45deg,rgb(185, 177, 208), rgb(133, 79, 195));
font-family: Arial, Helvetica, sans-serif;
color: black;
}

p{
    text-align: justify; /*It organizes your text*/
}

main{
    background-color: #d7d6d6;
    border-radius: 50px; /* it makes the border get round */
    width: 90%; /* it allows the content reach 90% of the page, guaranteing that your site is flexible to smaller screens*/
    max-width: 600px; /* it limits the width reach only until 600px*/
    padding: 20px; /*it gives a space between the border and text */
    margin: auto; /* it makes the content get in the center of the page, whatever the size of the screen is*/
    box-shadow: 5px 5px 15px black; /* it designs a shadow*/
    
}

h1{
    text-align: center; /* aligns you text */
    text-shadow: 1px 1px 4px black; /* it makes a shadow in you text */
    color: #FFD700;
}

h2{
    color: #333333;
    
}